<div class="footer">
<div class="container">
  <div class="row g-4">
    <div class="col-md-4">
      <h3 >  LOCATION </h3>
      <ul>
        <li>2215 John Daniel Drive</li>
        <li>Clark, MO 65243</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>AROUND THE WEB</h3>
      <ul class="spical-icon" >
        <li><span><i class="fa-brands fa-facebook"></i></span></li>
        <li><span> <i class="fa-brands fa-twitter"></i> </span></li>
        <li><span> <i class="fa-brands fa-linkedin"></i>  </span></li>
        <li><span> <i class="fa-solid fa-earth-americas"></i> </span></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>ABOUT FREELANCER</h3>
      <p>Freelance is a free to use, licensed Bootstrap theme created by Route
</p>

    </div>
  </div>
</div>
</div>
<div class="bot-footer">
  <span>Copyright © Your Website 2021</span>
</div>
