<div class="contact">
  <div class="container">
    <div class="header">
 <h1>start Framework</h1>
  <div class="star">
      <span><i class="fa-solid fa-star"></i></span>
    </div>
    </div>
    <div class="input">
      <input class="form-control form-control mb-5" type="text" placeholder="username" aria-label=".form-control example">
      <input class="form-control form-control mb-5 "  type="text" placeholder="userage" aria-label=".form-control example">
      <input class="form-control form-control mb-5" type="text" placeholder="useremail" aria-label=".form-control example">
      <input class="form-control form-control mb-5  " type="password" placeholder="userpassword" aria-label=".form-control example">
      <button class="btn send">send Message</button>
    </div>



  </div>
</div>
